<div class="container" style="background: lightskyblue;
width: 1070px;
height: 87px;
padding: 43px;">
    <h1> DEMOAPP</h1>

    <nav class="navbar">
        <ul>
            <li><a href="index.html" class="active">HOME</a></li>
            <li><a href="About us.html">ABOUT US</a></li>
            <li><a href="Jobs.html">JOBS</a></li>
            <li><a href="Clients.html">CLIENTS</a></li>
            <li><a href="Employers.html">EMPLOYERS</a></li>

            <li><a href="contact us.html">CONTACT US</a></li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
</div>


<div class="row" style="padding: 110px;">
    <!-- left column -->
    <div class="col-md-3">
        <div class="text-center" style="height: -webkit-fill-available;
           
            width: 179px">

            <img src="https://swall.teahub.io/photos/small/205-2059157_girl-baby-image-for-facebook-profile.jpg" alt="Sample photo" class="img-fluid" style="width: 203px;
            height: 209px;
            margin: 0px 100px -3px 40px;">
            <br><br>
            <input type="file" class="form-control" style="padding: 6px 178px 30px 2px;
                background-color: goldenrod; margin: 0px 51px 0px 30px;">
        </div>
    </div>

    <!-- edit form column -->
    <div class=" col-md-9 personal-info " style="max-width:57% ">

        <h3 style="font-weight: unset; font-size: 20px; ">I'm Caroline Kassdy and im above 20 years and you can send emails to carolinekassdy@publicis.com.I live in the state of Alaska. I like to play hockey ,football and reading books. And please send me newsletter. please reach out to me in my phone
            number.
        </h3>

        <label class="col-md-3 control-label "></label>
        <div class="col-md-8 ">
            <input type="button " class="btn btn-primary " value="I Agree" style="width: 100px">
            <span></span>
            <br><br><br><br><br>

            <footer id="footer" style="width: 120px 40px 39px 30px;
            margin: 61px -416px -42px -242px;
            height: 240px">



                <div class="footer-top">
                    <div class="container">
                        <div class="row">

                            <div class=" mb-4 footer-newsletter" style="text-align:center">

                                <p>Subscribe to our Job Seeker Mailing List</p>
                                <form action="" method="post" style="width:250px;margin: auto;">
                                    <div class="input-group" style="width:128%">
                                        <input type="email" name="email"><span class="input-group-text" id="basic-addon1">@</span>
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>
                </div>

            </footer>
            <!-- End Footer -->


        </div>
    </div>
</div>
<hr>